<h5>
  <b><i>EDUCATION</i></b>
</h5>
<p><b>Tertiary</b></p>
<p>School of Computing - Holy Angel University</p>
<p>Angeles City, Pampanga</p>
<p>
  Bachelor of Science in Information Technology with an Area of Specialization
  in Web Development
</p>
<p>2020-2024</p>
<br />
<p><b>Secondary</b></p>
<p>First City Providential College</p>
<p>City of San Jose Del Monte, Bulacan</p>
<p>2018-2020</p>
<p>Senior High</p>
<br />
<p>University of the Assumption</p>
<p>City of San Fernano, Pampanga</p>
<p>2016-2018</p>
<p>Junior High School</p>
<br />
<p><b>Primary</b></p>
<p>Our Lady of Lourdes Academy</p>
<p>City of San Jose Del Monte, Bulacan</p>
<p>2008-2014</p>
<br />
