<h5>
  <b><i>PERSONAL BACKGROUND</i></b>
</h5>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Date of Birth: November 20, 2001</th>
      <th scope="col">Age: 21 years old</th>
      <th scope="col">Place of Birth: Quezon City</th>
      <th scope="col">Citizenship: Filipino</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Religion: Roman Catholic</th>
      <th>Sex: Female</th>
      <th>Civil Status: Single</th>
      <th>Heigh: 4'10</th>
    </tr>
  </tbody>
</table>
