<h5>
  <b><i>ACHIEVEMENTS AND AWARDS</i></b>
</h5>
<hr />
<p [style.color]="myColor">Elementary Graduate</p>
<li *ngFor="let item of items">{{ item.eg }}</li>
<br />
<p [style.color]="myColor">Junior High School</p>
<li *ngFor="let item of items">{{ item.jhs }}</li>
<br />
<p [style.color]="myColor">Senior High School</p>
<li *ngFor="let item of items">{{ item.shs }}</li>
<br />
<p [style.color]="myColor">First Year - College</p>
<li *ngFor="let item of items">{{ item.fy }}</li>
<br />
<p [style.color]="myColor">Second Year- College</p>
<li *ngFor="let item of items">{{ item.sy }}</li>
<br />
<p [style.color]="myColor">Third Year- College</p>
<li *ngFor="let item of items">{{ item.td }}</li>
<br />
